h1 {
    font-family: Roboto;
    font: size 10rem;
    text-align: center;
    color: black
}

p1 {
    font-family: "Open Sans";
    font: size 10rem;
    text-align: center;
    color: black
}
#div-0 {
    margin: 20px;
    padding: 20px;
    background-color: beige;
}

.post {
    margin: 20px;
    padding: 20px;
    background-color: beige;
    display: inline-block;
    border: 1px solid hsl(0%, 0%, 60%);
    text-align: center;
    font: size 10rem;
    font-weight: bold;
}